In [13]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv(r"ClassificationDataset.csv")

In [15]:
norm_data = data.apply(lambda x: x / x.max(), axis=0)
norm_data

           Ft1       Ft2       Ft3       Ft4  Class
0     0.530653  0.669114 -0.156593 -0.182482    0.0
1     0.666085  0.630609 -0.137142 -0.596897    0.0
2     0.566463 -0.203705  0.107333  0.043458    0.0
3     0.506476  0.735261 -0.223747 -1.467402    0.0
4     0.048242 -0.343988  0.255017 -0.403674    0.0
...        ...       ...       ...       ...    ...
1367  0.059509  0.104172 -0.080887 -0.228410    1.0
1368 -0.203478 -0.376579  0.361313  0.139535    1.0
1369 -0.549511 -1.039146  0.981358 -1.133742    1.0
1370 -0.522169 -0.647233  0.691288 -0.523495    1.0
1371 -0.372450 -0.050808  0.149726  0.487936    1.0

[1372 rows x 5 columns]

In [16]:
training_set = norm_data.iloc[:1300]

In [17]:
testing_set = norm_data.iloc[1301:]

In [18]:
training_set.insert(0, 'X0', [1] * 1300)
training_set

      X0       Ft1       Ft2       Ft3       Ft4  Class
0      1  0.530653  0.669114 -0.156593 -0.182482    0.0
1      1  0.666085  0.630609 -0.137142 -0.596897    0.0
2      1  0.566463 -0.203705  0.107333  0.043458    0.0
3      1  0.506476  0.735261 -0.223747 -1.467402    0.0
4      1  0.048242 -0.343988  0.255017 -0.403674    0.0
...   ..       ...       ...       ...       ...    ...
1295   1 -0.724519  0.254833  0.059295 -0.589508    1.0
1296   1 -0.526506  0.017734  0.039749 -0.136028    1.0
1297   1 -0.317577  0.009586 -0.058374 -0.351941    1.0
1298   1 -0.140766  0.208183 -0.174180 -0.535660    1.0
1299   1 -0.158276  0.169832 -0.144260 -0.520882    1.0

[1300 rows x 6 columns]

In [19]:
testing_set.insert(0, "X0", [1] * 71)
testing_set

      X0       Ft1       Ft2       Ft3       Ft4  Class
1301   1 -0.545716  0.146986 -0.001976 -1.024495    1.0
1302   1 -0.376919 -0.073815  0.151015 -0.067928    1.0
1303   1 -0.575797 -0.469564  0.563149 -0.414248    1.0
1304   1 -0.775744 -0.397349  0.576391 -0.456461    1.0
1305   1 -0.570757  0.311869 -0.016840 -0.891447    1.0
...   ..       ...       ...       ...       ...    ...
1367   1  0.059509  0.104172 -0.080887 -0.228410    1.0
1368   1 -0.203478 -0.376579  0.361313  0.139535    1.0
1369   1 -0.549511 -1.039146  0.981358 -1.133742    1.0
1370   1 -0.522169 -0.647233  0.691288 -0.523495    1.0
1371   1 -0.372450 -0.050808  0.149726  0.487936    1.0

[71 rows x 6 columns]

In [20]:
thetas = [0, 0, 0, 0, 0]

def hypothesis_function(thetas, i):
    res = 0
    for j in range(5):
        res += thetas[j] * training_set.iloc[i, j]
    final_res = 1 / (1 + math.exp(-res))
    return final_res

In [21]:
def derivative_calculation(j, thetas):
    res = 0
    for i in range(1300):
        res += (hypothesis_function(thetas, i) - training_set.iloc[i, 3]) * training_set.iloc[i, j]
    return res

In [22]:
alpha = 0.01

In [23]:
thetas = [0, 0, 0, 0, 0]
def logreg():
    global thetas
    for _ in range(50):
        temp_thetas = thetas[:]
        for j in range(5):
            temp_thetas[j] = temp_thetas[j] - alpha * derivative_calculation(j, thetas)
        thetas = temp_thetas[:]
    return thetas
print(logreg())

KeyboardInterrupt:

In [ ]:
def hypothesis_function_p(thetas, i):
    res = 0
    for j in range(5):
        res += thetas[j] * norm_data.iloc[i, j]
    final_res = 1 / (1 + math.exp(-res))
    return final_res
print(hypothesis_function_p(thetas, 1369))