In [20]:
import numpy as np

In [21]:
import pandas as pd

In [22]:
import random

In [23]:
data = pd.read_csv("Datasets/clustering_points.csv")
data

           Ft1         Ft2  Cluster
0   -81.600565  -51.253154        2
1   -51.289427   98.361886        0
2   -71.253703  -71.528332        2
3    56.149986   18.261123        1
4   -19.383071  101.498518        0
..         ...         ...      ...
395  46.643890   24.711680        1
396  31.917945    5.657059        1
397 -68.080610  -73.577670        2
398  -8.767863   75.841448        0
399 -21.514103   95.750707        0

[400 rows x 3 columns]

In [24]:
k = 3

In [25]:
def get_the_nearest_cluster_centroid_index(i, centroids, k):
    distances = []
    for j in range(k):
        distance = 0 
        for t in range(2):
            distance += (data.iloc[i, t] - centroids[j][t]) ** 2
        distances.append(distance ** (1/2))
    return distances.index(min(distances))

2

In [26]:
def update_cluster_centroids(centroids):
    local_centroids = centroids[:]
    for j in range(len(local_centroids)):
        x, y = 0, 0
        for i in range(data.shape[0]):
            if c_indices[i] == j:
                x, y = x + data.iloc[i, 0], y + data.iloc[i, 1]
        x, y = x / c_indices.count(j), y / c_indices.count(j)
        local_centroids[j] = (x, y)
    return local_centroids

In [27]:
for _ in range(1):
    centroid_indices = random.sample(list(data.index), k)
    centroids = [
        (data.iloc[centroid_indices[i], 0],
         data.iloc[centroid_indices[i], 1])
         for i in range(k)
    ]
    c_indices = []
    for i in range(data.shape[0]):
        c_indices.append(get_the_nearest_cluster_centroid_index(i, centroids, k))
    new_centroids = update_cluster_centroids(centroids)

In [28]:
print(centroids)
print(new_centroids)

[(-24.961957311748428, 104.67820205355636), (-65.89852334254857, -48.047087946305076), (-66.08048353955897, -81.56858169096256)]
[(9.657636331218994, 56.130748627632144), (-58.848302502871825, -50.41652225186714), (-68.079204369133, -74.46354571558605)]